[project]
	description = Apache 2 Reverse Proxy Settings for adding goodies to web portals.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/James Scollard (spyderdyne)
[access "refs/for/refs/*"]
	read = group user/James Scollard (spyderdyne)
	push = group user/James Scollard (spyderdyne)
	label-Code-Review = -2..+2 group user/James Scollard (spyderdyne)
	label-Verified = -1..+1 group user/James Scollard (spyderdyne)
	rebase = group user/James Scollard (spyderdyne)
	removeReviewer = group user/James Scollard (spyderdyne)
	submit = group user/James Scollard (spyderdyne)
[access "refs/heads/*"]
	read = group user/James Scollard (spyderdyne)
	create = group user/James Scollard (spyderdyne)
	push = +force group user/James Scollard (spyderdyne)
	pushMerge = group user/James Scollard (spyderdyne)
[access "refs/tags/*"]
	push = +force group user/James Scollard (spyderdyne)
	pushTag = group user/James Scollard (spyderdyne)
	pushSignedTag = group user/James Scollard (spyderdyne)
